html {
  font-size: 28px;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: $dark-blue;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}

.row {
  display: flex;
  flex-direction: column;

  @media (min-width: 900px) {
    flex-direction: row;
  }
}
